<div
  class="auth-wrapper d-flex no-block justify-content-center align-items-center"
  style="
    background: url('../../../assets/images/backlogin.jpeg')
      no-repeat center center;
    direction: rtl;
    height: 100%;
    background-size: cover;
  "
>
  <div class="auth-box shadow-8 col-lg-4 p-4 " style="background-color: white;    height: 50%;border-radius: 15px;">
    <div id="loginform" [ngClass]="{ 'd-none': recoverform }">
      <div class="logo" >
        
          <img
            src="../assets/images/logo.jpg"
            class="w-75"
            style="border-radius: 10px; animation: flip; animation-duration: 2s"
              alt="logo"
            />
        
          <!-- <h5
            class="font-medium m-b-20 mt-2"
            style="
              font-size: 18px;
              font-weight: 600 !important;
              text-shadow: 0px 0px 7px black;
              color: white;
            "
          >
            تسجيل الدخول
          </h5> -->
      </div>
      <!-- Form -->
      <form [formGroup]="loginForm!">

      <div class="row justify-content-center">
        <div class="col-10 justify-content-center">
            <div class="input-group">
              <div class="input-group-prepend">

              </div>

              <input
                type="text"
                style="    border-radius: 22px;"
                class="form-control form-control-lg"
                placeholder="اسم المستخدم"
                aria-label="Username"
                id="username"
               formControlName="username"
                required
                aria-describedby="basic-addon1"
              />
            </div>
            <div
              *ngIf="!loginForm!.controls['username'].valid && (loginForm!.controls['username'].dirty || loginForm!.controls['username'].touched)"
              class="flex"
            >
              <small
                style="margin-right: 40px"
                class="form-text text-danger mb-3"
              >
                بالرجاء كتابة اسم المستخدم!
              </small>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">

              </div>
              <input
                style="position: relative"
                style="    border-radius: 22px;"
                [type]="show ? 'text' : 'password'"
                class="form-control form-control-lg mt-2"
                placeholder="كلمة المرور"
                aria-label="Password"
                id="password"
                formControlName="password"


                required
                aria-describedby="basic-addon1"
              />
              <button
                class="btn"
                style="position: absolute; top: 18%; right: 89%; z-index: 5;
          
                "
                (click)="show = !this.show"
              >
                <i *ngIf="!show" class="fa fa-eye-slash" aria-hidden="true"></i>
                <i *ngIf="show" class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </div>
            <div
              *ngIf="!loginForm!.controls['password'].valid  && (loginForm!.controls['password'].dirty || loginForm!.controls['password'].touched)"
              class="flex"
            >
              <small style="margin-right: 40px" class="form-text text-danger">
                بالرجاء كتابة كلمة المرور!
              </small>
            </div>

            <div class="form-group text-center mt-2">
              <div class="col-xs-12 p-b-20">
                <button
                style="      width: 100%;
                border-radius: 31px;
                border-color: transparent;
                color: white;
                background: black;"
                  class="btn btn-block btn-lg btn-info"
                  type="submit"
                  (click)="login()"
                  [disabled]="!loginForm!.valid"
                >
                  تسجيل الدخول
                  <i
                    nz-icon
                    nzType="loading"
                    nzTheme="outline"
                    *ngIf="loader"
                  ></i>
                </button>
              </div>
            </div>

        </div>
      </div>
 </form>



  </div>
</div>
