<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>


<div class="mb-3">
    <app-generic-filter
      [inputs]="filterInputs"
      (filter)="filter($event)"
    ></app-generic-filter>
  </div>
  
<div 
class="table-responsive card custom-br custom-shadow card custom-br custom-shadow"
>
    <div class="flex">

      <button
        type="button"
        (click)="fileInput.click()"
        label="تحميل  الموظفين اكسل"
        pButton
        pRipple
        icon="pi pi-file-excel"
        class="p-button-success me-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      >
        <input
          type="file"
          #fileInput
          [(ngModel)]="excelInput2"
          style="display: none"
          (change)="UploadExcel($event)"
        />
      </button>
    </div>
    <nz-table
    *ngIf="data.length >= 1"
    class="table forms-table table-striped"
    [nzFrontPagination]="false"
    [nzData]="data"
    [nzLoading]="loading"
    [nzPageSize]="20"
    [nzPageIndex]="1"
    [nzScroll]="{ x: '240px' }"
    (nzPageIndexChange)="get()"
    >

    <!-- table: head -->
        <thead>
          <tr class="bg-light">
            <th *ngFor="let head of heads; let i = index">
                {{head}}
            </th>
          </tr>
        </thead>

    <!-- table: body -->
        <tbody>
            <tr *ngFor="let allData of data; let i = index">
                <td>{{i + 1}}</td>
               <td> <p-image src="https://imake-app.com:4000/{{allData?.photo}}" alt="Image" width="110" height="90" [preview]="true"></p-image></td>

                <td>{{allData?.email}}</td>
                <td>{{allData["full_name"]}}</td>
                <td>{{allData?.mobile}}</td>
                <td>{{allData?.salary}}</td>
                <td>{{allData.leader?.full_name}}</td>
                <td>{{allData?.position}}</td>
                <td>{{allData?.job}}</td>

                <td>
                    <button
                        class="btn btn-success m-1"
                        (click)="edit(allData)"><i nz-icon nzType="edit" nzTheme="outline"></i>تعديل</button>
                    <button
                        class="btn btn-success  m-1"
                        (click)="ShowTimes(allData['_id']||allData['id'])"><i nz-icon nzType="edit" nzTheme="outline"></i>مواعيد العمل</button>
                        <button
                        class="btn btn-success  m-1"
                        (click)="AddTimes(allData['_id']||allData['id'])"><i nz-icon nzType="edit" nzTheme="outline"></i>اضافة مواعيد العمل</button>
                        <button
                        class="btn btn-success  m-1"
                        (click)="Attendances(allData['_id']||allData['id'])"><i nz-icon nzType="edit" nzTheme="outline"></i>الدوام</button>
                    <button
                        nz-popconfirm
                        nzPopconfirmTitle="هل انت متأكد من عملية الحذف؟"
                        nzPopconfirmPlacement="top"
                        (nzOnConfirm)="delete(allData['_id']||allData['id'], i)"
                        class="btn btn-danger  m-1" ><i nz-icon nzType="delete" nzTheme="outline"></i>مسح</button>
                </td>
            </tr>
        </tbody>

    <!-- table: pagination -->
        <!-- <button
        class="btn btn-block btn-info button-custom"
        style="margin-top: 20px;"
        matRipple
        nz-button
        >
            تحميل المزيد
        </button> -->

    </nz-table>
    <nz-pagination
    *ngIf="total"
    [nzPageIndex]="page"
    [nzTotal]="total"
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20, 50]"
    [nzPageSize]="limit"
    (nzPageIndexChange)="onPageChange($event)"
    (nzPageSizeChange)="onSizeChange($event)"
  >
  </nz-pagination>

    <!-- placeholder - table -->
    <nz-table [nzData]="data" *ngIf="data.length == 0"></nz-table>

<!-- table: pagination -->
<button
class="btn btn-block btn-info button-custom"
style="margin: auto; font-weight: bold; font-family: monospace;"
matRipple
nz-button
>
    تحميل المزيد
</button>

</div>
