<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form" style="width: 100%;" autocomplete="off">
                    <div class="row">
                       
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="photo">
                                        الصورة
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="file"
                                        (change)="onFileChange($event)"
                                        id="photo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="full_name">
                                        الاسم
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="text"
                                        formControlName="name"
                                        id="full_name" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="address">
                                       العنوان
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="text"
                                        formControlName="address"
                                        id="address" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="phone">
                                        رقم الهاتف
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="number"
                                        formControlName="phone"
                                        id="phone" />
                                </div>
                            </div>
                        </div>
                   
                   <div formGroupName="user" *ngIf="!obj">
                    <div class="col-md-6" >
                        <div class="form-group mb-3">
                            <nz-form-label>
                                <label for="userNAME">
                                    اسم الحساب
                                </label>
                            </nz-form-label>
                            <div class="input-group-lg">
                                <input
                                    class="form-control"
                                    nz-input
                                    type="text"
                                    formControlName="username"
                                    id="userNAME" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <nz-form-label>
                                <label for="password">
                                    كلمة المرور
                                </label>
                            </nz-form-label>
                            <div class="input-group-lg">
                                <input
                                    class="form-control"
                                    nz-input
                                    type="text"
                                    formControlName="password"
                                    id="password" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <nz-form-label>
                                <label for="email">
                                     البريد الالكتروني 
                                </label>
                            </nz-form-label>
                            <div class="input-group-lg">
                                <input
                                    class="form-control"
                                    nz-input
                                    type="email"
                                    formControlName="email"
                                    id="email" />
                            </div>
                        </div>
                    </div>

              
         

                   </div>
              

                        <div class="col-md-2">
                            <button
                                class="btn btn-block"
                                [class.btn-info]="!obj"
                                [class.btn-success]="obj"
                                matRipple
                                nz-button
                                [disabled]="form.invalid"
                                (click)="(obj) ? editSchoolsData() : addSchoolsData()">
                                <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isAdd"></i>
                                {{(!obj) ? 'اضافة' : 'تعديل'}}
                            </button>
                        </div>
                        </div>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>