
:root {
   --primary-color: #fff;
   --primary-color-rgba: #363148;
   --secondary-color: #363148;
   --font-family-1: serif;
   --font-color: #363148;
   --logo: '';
   --logo_splash: '';
   --currency: EGP;
   --green: #4caf50;
   --red: red;
   --f-s-1: 13px;
   --f-s-2: 14px;
   --f-s-3: 11px;
   --f-s-4: 10px;
   --f-s-5: 15px;
   --f-s-6: 32px;
   --f-s-7: 16px;
   --f-s-8: 19px;
   --f-s-9: 42px;
   --f-s-10: 30px;
}



/* *:not(i , span, .fa)
{
   font-family: var(--font-family-1) !important;
} */
