<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form" style="width: 100%;" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="path">
                                        المسار
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="text"
                                        formControlName="path"
                                        id="path" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="title">
                                        العنوان
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="text"
                                        formControlName="title"
                                        id="title" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="icon">
                                        الايقون
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="text"
                                        formControlName="icon"
                                        id="icon" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group mb-3">
                            <nz-form-label nzRequired>
                                <label for="role">
                                    سهم جانبي
                                </label>
                            </nz-form-label>
                            <div class="input-group-lg">
                                <nz-select
                                nzShowSearch
                                formControlName="class" >
                                    <nz-option
                                        nzLabel="لا يوجد سهم"
                                        nzValue=""></nz-option>
                                    <nz-option
                                        nzLabel="يوجد سهم"
                                        nzValue="has-arrow"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="role">
                                        الصلاحية
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <nz-select
                                    nzShowSearch
                                  
                                    formControlName="role" >
                                        <nz-option
                                            *ngFor="let g of groups; let i = index"
                                            [nzLabel]="g.name"
                                            [nzValue]="g.id"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <button
                                    class="btn btn-block btn-warning"
                                    matRipple
                                    nz-button
                                    [disabled]="!form.get('role')?.value"
                                    (click)="addSub()">
                                    اضافة قوائم فرعية
                                </button>
                            </div>
                        </div>

                        <div class="col-12">
                           <div *ngFor="let s of sub; let i = index" class="my-3 row shadow-4">
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <nz-form-label nzRequired>
                                        <label for="s_path">
                                            المسار
                                        </label>
                                    </nz-form-label>
                                    <div class="input-group-lg">
                                        <input
                                            class="form-control"
                                            nz-input
                                            type="text"
                                            [(ngModel)]="s.path"
                                            (blur)="change(s)"
                                            [ngModelOptions]="{standalone: true}"
                                            (keyup)="form.get('sub')?.setValue(sub)"
                                            id="s_path" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <nz-form-label nzRequired>
                                        <label for="s_title">
                                            العنوان
                                        </label>
                                    </nz-form-label>
                                    <div class="input-group-lg">
                                        <input
                                            class="form-control"
                                            nz-input
                                            type="text"
                                            [(ngModel)]="s.title"
                                            (blur)="change(s)"
                                            [ngModelOptions]="{standalone: true}"
                                            (keyup)="form.get('sub')?.setValue(sub)"
                                            id="s_title" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <nz-form-label nzRequired>
                                        <label for="s_title">
                                          الايقون
                                        </label>
                                    </nz-form-label>
                                    <div class="input-group-lg">
                                        <input
                                            class="form-control"
                                            nz-input
                                            type="text"
                                            (blur)="change(s)"
                                            [(ngModel)]="s.icon"
                                            [ngModelOptions]="{standalone: true}"
                                            (keyup)="form.get('sub')?.setValue(sub)"
                                            id="s_title" />
                                    </div>
                                </div>
                            </div>

                           <div class="col-md-3">
                          <div class="form-group mb-3">
                            <nz-form-label nzRequired>
                                <label for="role">
                                    سهم جانبي
                                </label>
                            </nz-form-label>
                            <div class="input-group-lg">
                                <nz-select
                                nzShowSearch
                                (blur)="change(s)"
                                [(ngModel)]="s.class"
                                [ngModelOptions]="{standalone: true}"
                                >
                                    <nz-option
                                        nzLabel="لا يوجد سهم"
                                        nzValue=""></nz-option>
                                    <nz-option
                                        nzLabel="يوجد سهم"
                                        nzValue="has-arrow"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        </div>


                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <nz-form-label>
                                        <label></label>
                                    </nz-form-label>
                                    <button *ngIf="(obj)"
                                        class="btn btn-block btn-danger"
                                        matRipple
                                        nz-button
                                        nz-popconfirm="false"
                                        nzPopconfirmTitle="هل انت متأكد من عملية الحذف؟"
                                        nzPopconfirmPlacement="top"
                                        (nzOnConfirm)="remove(i);delete(s.id)"
                                        >
                                        Remove
                                    </button>
                                    <button *ngIf="(!obj)"
                                        class="btn btn-block btn-danger"
                                        matRipple
                                        nz-button
                                        (click)="remove(i)"
                                        >
                                        Remove
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <nz-form-label>
                                        <label></label>
                                    </nz-form-label>
                                    <button
                                    class="btn btn-block btn-warning"
                                    matRipple
                                    nz-button
                                    (click)="addSubOfSub(i)">
                                    إضافة قوائم فرعية
                                </button>

                                </div>
                            </div>


                            <div class="col-12">
                          <ng-container *ngFor="let ss of s.sub let subIndex=index">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group mb-3">
                                      <nz-form-label nzRequired>
                                          <label for="s_path">
                                              المسار
                                          </label>
                                      </nz-form-label>
                                      <div class="input-group-lg">
                                          <input
                                              class="form-control"
                                              nz-input
                                              type="text"
                                              [(ngModel)]="ss.path"
                                              (blur)="change(ss)"
                                              [ngModelOptions]="{standalone: true}"
                                              (keyup)="form.get('submenu')?.setValue(sub)"
                                              id="s_path" />
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group mb-3">
                                      <nz-form-label nzRequired>
                                          <label for="s_title">
                                              العنوان
                                          </label>
                                      </nz-form-label>
                                      <div class="input-group-lg">
                                          <input
                                              class="form-control"
                                              nz-input
                                              type="text"
                                              [(ngModel)]="ss.title"
                                              (blur)="change(ss)"
                                              [ngModelOptions]="{standalone: true}"
                                              (keyup)="form.get('submenu')?.setValue(sub)"
                                              id="s_title" />
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group mb-3">
                                      <nz-form-label>
                                          <label></label>
                                      </nz-form-label>
                                      <button  *ngIf="(obj)"
                                          class="btn btn-block btn-danger"
                                          matRipple
                                          nz-button
                                          nz-popconfirm
                                          nzPopconfirmTitle="هل انت متأكد من عملية الحذف؟"
                                          nzPopconfirmPlacement="top"
                                          (nzOnConfirm)="removeSubOfSub(i,subIndex);delete(ss.id)">
                                          Remove
                                      </button>
                                      <button  *ngIf="(!obj)"
                                          class="btn btn-block btn-danger"
                                          matRipple
                                          nz-button
                                          (click)="removeSubOfSub(i,subIndex)">
                                          Remove
                                      </button>

                                    </div>
                              </div>
                              </div>
                            </ng-container>
                          </div>




                        </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                class="btn btn-block"
                                [class.btn-info]="!obj"
                                [class.btn-success]="obj"
                                matRipple
                                nz-button
                                (click)="(obj) ? edit() : add()">
                                <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isAdd"></i>
                                {{(!obj) ? 'اضافة' : 'تعديل'}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
