

<div class="mb-3">
    <app-generic-filter
      [inputs]="filterInputs"
      (filter)="filter($event)"
    ></app-generic-filter>
  </div>

<div 
class="table-responsive card custom-br custom-shadow card custom-br custom-shadow"
>
<div class="flex">

    <button
      type="button"
      (click)="ExportExcel()"
      label="تحميل  البيانات اكسل"
      pButton
      pRipple
      icon="pi pi-file-excel"
      class="p-button-success me-2"
      pTooltip="XLS"
      tooltipPosition="bottom"
    >
     
    </button>
  </div>

    <nz-table
    class="table forms-table table-striped"
    [nzFrontPagination]="false"
    [nzData]="data"
    [nzLoading]="loading"
    [nzPageSize]="20"
    [nzPageIndex]="1"
    [nzScroll]="{ x: '240px' }"
    (nzPageIndexChange)="get()"
    >

    <!-- table: head -->
        <thead>
          <tr class="bg-light">
            <th *ngFor="let head of heads; let i = index">
                {{head}}
            </th>
          </tr>
        </thead>

    <!-- table: body -->
        <tbody>
            <tr *ngFor="let allData of data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{allData?.user?.full_name}}</td>
                <td>{{allData?.branch?.name}}</td>fr
                <td>{{allData?.time | date:'HH:mm a':'UTC'}}</td>
                <td>{{allData?.timeDifferenceStart}}</td>
                <td>{{allData?.timeDifferenceEnd}}</td>
                <td>{{allData?.approved}}</td>
                <td>{{ allData.notes}}</td>
                <p-image src="https://imake-app.com:4000/{{allData?.photo}}" alt="Image" width="110" height="90" [preview]="true"></p-image>
                <td>{{allData?.attendDate}}</td>
                <td>{{getTypeName(allData?.type)}}</td>


                <td>
                    <button
                        nz-popconfirm
                        nzPopconfirmTitle="هل انت متأكد من عملية الحذف؟"
                        nzPopconfirmPlacement="top"
                        (nzOnConfirm)="delete(allData._id || allData.id, i)"
                        class="btn btn-danger" ><i nz-icon nzType="delete" nzTheme="outline"></i>مسح</button>
                </td>
            </tr>
        </tbody>

    <!-- table: pagination -->
        <!-- <button
        class="btn btn-block btn-info button-custom"
        style="margin-top: 20px;"
        matRipple
        nz-button
        >
            تحميل المزيد
        </button> -->

    </nz-table>


    <!-- placeholder - table -->

<!-- table: pagination -->
<button
class="btn btn-block btn-info button-custom"
style="margin: auto; font-weight: bold; font-family: monospace;"
matRipple
nz-button
>
    load more 
</button>

</div>
