.p-rating .p-rating-star {
    font-size: 24px; /* Increase star size */
  }
  
  .p-float-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between questions */
  }
  