<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form" style="width: 100%;" autocomplete="off">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="full_name">
                                        الصورة
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="file"
                                        formControlName="photo"
                                        (change)="onFileChange($event)"
                                        id="photo" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="full_name">
                                        الاسم
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="text"
                                        formControlName="full_name"
                                        id="full_name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <nz-form-label>
                                    <label for="email">
                                        الايميل
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="text"
                                        formControlName="email"
                                        id="email" />
                                </div>
                            </div>
                        </div>
                     

                        
                    <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="leader">
                                        المشرف
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <nz-select
                                    nzShowSearch
                                  
                                    formControlName="leader" >
                                        <nz-option
                                            *ngFor="let g of leaders; let i = index"
                                            [nzLabel]="g.full_name"
                                            [nzValue]="g.id"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="leader">
                                        الوظيفة
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                    class="form-control"
                                    nz-input
                                    type="text"
                                    formControlName="job"
                                    id="job" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="leader">
                                        الرتبة
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                    class="form-control"
                                    nz-input
                                    type="text"
                                    formControlName="position"
                                    id="job" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="mobile">
                                         الهاتف
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="number"
                                        formControlName="mobile"
                                        id="mobile" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="salary">
                                         المرتب
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="number"
                                        formControlName="salary"
                                        id="salary" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="attendDays">
                                         ايام العمل
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="number"
                                        formControlName="attendDays"
                                        id="workDays" />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                      
                        <div class="col-md-4" *ngIf="obj == null">
                            <div class="form-group mb-3">
                                <nz-form-label nzRequired>
                                    <label for="password">
                                         كلمة المرور
                                    </label>
                                </nz-form-label>
                                <div class="input-group-lg">
                                    <input
                                        class="form-control"
                                        nz-input
                                        type="password"
                                        formControlName="password"
                                        id="password" />
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-2">
                            <button
                                class="btn btn-block"
                                [class.btn-info]="!obj"
                                [class.btn-success]="obj"
                                matRipple
                                nz-button
                                [disabled]="form.invalid"
                                (click)="(obj) ? edit() : add()">
                                <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isAdd"></i>
                                {{(!obj) ? 'اضافة' : 'تعديل'}}
                            </button>
                        </div>
                        </div>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>