<div class="card">
  <div class="card-body row" style="color: #000">
    <div class="mr-3 col-md-8">
      <h4>... أهلا بك في كودز روتس</h4>
      <h4 class="fw-bold" style="color: #4a4444">
        كل تجارة ناجحة تبدأ بمتجر مذهل!
      </h4>
      <p>
        متجرك بحاجة إلى إتمام هذه المهام الأساسية، أكمل إعدادها الآن .. سيتم حفظ
        مدخلاتك تلقائياً لتتمكن من العودة لها لاحقاً
      </p>
    </div>
    <div class="col-md-2 m-auto">
      <p-progressBar [value]="count.toFixed()"></p-progressBar>
    </div>
  </div>
</div>

<div class="card" *ngFor="let item of data" style="color: #000">
  <div class="card-body row">
    <div class="mr-3 col-md-9">
      <h4>
        {{ item?.step?.title_ar }}
      </h4>
      <h4 class="fw-bold">
        {{ item?.step?.description_ar }}
      </h4>
    </div>
    <div
      class="col-md-1 d-flex justify-content-center align-items-center"
      style="line-height: 100%"
    >
      <a [href]="'#/' + item?.step?.redirect_url" *ngIf="!item.is_done">
        <button class="btn">{{ item?.step?.description_ar }}</button>
      </a>
      <!-- <a [href]="item?.step?.redirect_url">
        <button class="btn">{{ item?.step?.description_ar }}</button>
      </a> -->
      <div *ngIf="item.is_done" class="circle">
        <span nz-icon class="mx-3" nzType="check" nzTheme="outline"></span>
      </div>
    </div>
  </div>
</div>
